<% include ../partials/header %>
<div class="menu">
    <div class="menu__header" style="background-image: url('https://wallpapercave.com/wp/mGD11sD.jpg');">
        <div class="menu__header__inner">
            <div class="container">
                <h1 class="menu__header__title">Admin Page</h1>
            </div>
        </div>
    </div>
</div>
    <div class="container">
        <!-- <h1></h1> -->
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6" style="padding: 10px;">
                <a class="btn btn-primary btn-block" href="/items/new">Add a new item</a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6" style="padding: 10px;">
                <a class="btn btn-primary btn-block" href="admin/items">View all items</a>
            </div>
        </div>
    </div>
<% include ../partials/footer %>
