<% if(error) {%>
    <div class="info-bar error">
        <div class="container">
            <div class="row no-gutters">
                <div class="col">
                    <h6 class="info-bar__text"><%= message %></h6>
                </div>
            </div>
        </div>
    </div>
<% } else if (message != ''){%>
    <div class="info-bar">
        <div class="container">
            <div class="row no-gutters">
                <div class="col">
                    <h6 class="info-bar__text"><%= message %></h6>
                </div>
            </div>
        </div>
    </div>
<% } %>
