<% include partials/header %>

<header class="page__header">
    <div class="page__header__inner">
        <div class="page__header__content">
            <h5>Some Restaurant</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            <a href="/items">View Menu</a>
        </div>
    </div>
</header>

<% include partials/footer %>