<% include partials/header %>
    <div class="container">
        <div class="row">
            <div class="col-12" >
                <h1 style="text-align: center; margin: 25px 0px 7px 0px">Register</h1>
            </div>
            <div class="" style="width: 50%; margin: 0px auto">
                <form class="" action="/register" method="post">
                    <div class="form-group">
                        <input class="form-control" type="text" name="firstName" value="" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="lastName" value="" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" value="" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" value="" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="repeatPassword" value="" placeholder="Confirm Password">
                    </div>
                    <div class="form-group">
                        <button style="background-color: #78bcc4; color: #f7f8f3" class="btn btn-lg btn-block" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<% include partials/footer %>
