/* Navbar */
.navbar {
    background-color: #ffffff;
}

#logo {
    width: 2rem;
    height: 2rem;
    margin-right: 0.25rem;
}

/* Page header */
.page__header {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 3.75rem);
    background-image: url('/assets/home.jpg');
}

.page__header.menu {
    height: calc(100vh - 3.75rem);
    display: flex;
    background-image: url('/assets/menu.jpg');
}

.page__header__inner {
    flex: 1;
    display: flex;
    background-color: transparent;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3));
    text-align: center;
}

.page__header__content {
    margin: auto;
    text-align: center;
}

.page__header h5 {
    font-size: 6rem;
    color: #ffffff;
}

.page__header p {
    font-size: 1.25rem;
    color: #ffffff;
}

.page__header a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    padding: 0.5rem 1rem;
    background-color: transparent;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3));
    margin-top: 1.5rem;
    border-radius: 0.25rem;
    transition: all 250ms ease-in-out;
}

.page__header a:hover {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5));
}

/* Menu */
.menu__items {
    padding: 3rem 0 5rem;
}

.menu-item {
    display: block;
    text-decoration: none;
    color: #000000;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 1rem;
    transition: all 250ms ease-in-out;
}

.menu-item:hover {
    text-decoration: none;
    color: #000000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.menu-item__inner {
    height: 100%;
    transition: all 250ms ease-in-out;
}

.menu-item__top {
    height: 15rem;
    overflow: hidden;
}

.menu-item__img {
    margin: auto;
    height: 15rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.menu-item__title {
    font-size: 1.125rem;
    text-transform: capitalize;
    padding: 1rem 0;
}

/* Item page */


/* Infobar */
.info-bar {
    border-top: 1px solid #CC240E;
    border-bottom: 1px solid #CC240E;
    background-color: rgba(204, 36, 14, 0.3);
    padding: 0.5rem 0;
    text-align: center;
}

.info-bar__text {
    color: #CC240E;
    margin: 0;
}

/* Login page */
.login, .signup {
    display: flex;
    height: calc(100vh - 3.75rem);
}

.login__box, .signup__box {
    margin: auto;
    padding: 1.5rem;
    background-color: rgba(178, 210, 52, 0.7);
    border-radius: 0.5rem;
    min-width: 30rem;
    color: #ffffff;
}

.login__box span, .signup__box span {
    font-style: italic;
}