<% include ../partials/header %>

<header class="menu__header">
    <div class="menu__header__inner">
        <h5>Menu</h5>
    </div>
</header>


<div class="container">
    <section class="menu__items">

        <div class="row text-center item-alignment">
            <% for(var i = 0; i < items.length; i++) { %>
            <div class="col-sm-6 col-md-4">
                <a href="/items/<%= items[i]._id%>" alt="<%= items[i].Name %>" class="menu-item">
                    <div class="menu-item__inner">
                        <div class="menu-item__top">
                            <img class="menu-item__img" src="<%= items[i].Image%>" alt="">
                        </div>
                        <div class="menu-item__body">
                            <h4 class="menu-item__title"><%= items[i].Name %></h4>
                        </div>
                    </div>
                </a>
            </div>
            <% } %>
        </div>

    </section>
</div>
<% include ../partials/footer %>